/* --- 4.x DASHBOARD ICONS MENU --- */
.selected {
	border:2px solid #e6791c!important;
	box-shadow:none!important;
	-moz-box-shadow:none!important;
	-webkit-box-shadow:none!important;
}

ul.dash {
    margin: 0;
    text-align: center;
}
ul.dash li {
    display: inline-block;
    width: 125px;
	margin:0 0 4px 0;
	padding:0;
	background: none;
	border:0;
	float:left;
	cursor:pointer;
}

ul.dash li i {
    background: #45AEEA;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    display: block;
    font-size: 36px;
    padding: 15px 0;
	height:48px;
	width: 120px;
}
ul.dash li span {
    background: #EEE;
    border-radius: 0 0 5px 5px;
    display: block;
	vertical-align:middle;
    font-size: 13px;
    padding: 0;
    text-transform: uppercase;
    width: 120px;
	height:48px;
	max-height:48px;
	overflow:hidden;
}

ul.dash li span span {
    display: table-cell;
	vertical-align:middle;
    font-size: 13px;
    padding: 0;
    text-transform: uppercase;
	overflow:hidden;
}

ul.dash a:hover {
    text-decoration: none;
}
ul.dash li:hover span {
    background: none repeat scroll 0 0 #45AEEA;
    color: #FFFFFF;
}
